
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="tela-cadastro.component.css">
  </head>

  <body>
    <div class="tela">

        
      <div class="area1">
  
       <!--Area de cadastro-->
      <form (ngSubmit)="onSubmit()">
      
  
          <div class="camposdeinput" >
             <!--Campo de email-->
           
             <h5>Tipo de Usuário</h5>
             <div>
              <select id=tipodeuser  type="tipo" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.tipoDeUser">
                <option>Professor</option>
                <option>Coordenador de extensão</option>
                <option>Coordenador de Pesquisa</option>
                <option>Direção geral de ensino</option>
            </select>
            </div>
      
           <div>
              <h5>Email</h5>
              <input id="email" type="email" class="input" placeholder="Email" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.email">
            </div>
  
            <!--Campo de Senha-->
          <div>
              <h5>Senha</h5>
              <input id="senha" type="password" class="input" placeholder="Senha" [ngModelOptions]="{standalone: true}" [(ngModel)]="usuario.senha"> 
            </div>
          
           <!--Campo de Confirmação de Senha-->
            <div > 
              <h5>Senha</h5>
              <input id="confirsenha" type="password" class="input" data-type="password" placeholder="Confirmação de senha" [ngModelOptions]="{standalone: true}"[(ngModel)]="usuario.confirsenha">
          </div>
  </div>
  
           <!--Botão-->
             <button id="cadastrar" value="Cadastrar" type="submit" class="button" (click) = "onSubmit()">Cadastrar</button>
        
            </form>
      </div>
  
  
       
  
  </div>
  </body>

  

  </html>