<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie-edge">
      <title>Responsive Side Menu</title>
  
    </head>
    <body>

       <nav class="navbar">
           <span class="open-slide">
              <a  (click)="openSlideMenu()">
                <button>
                  <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="green" stroke-width="5"/>
                    <path d="M0,14 30,14" stroke="green" stroke-width="5"/>
                    <path d="M0,23 30,23" stroke="green" stroke-width="5"/>

                </svg>
                </button>
                 
              </a>  
           </span>

           
       </nav>

       <div id="side-menu" class="side-nav">
          <a  class="btn-close" stroke="green"><button (click)="closeSlideMenu()">&times;</button></a>
          <a class="link"><button class="link" (click)="linkPerfil()">Perfil</button></a>
          <a class="link"><button class="link" (click)="linkTelaDeAcesso()">PIT e RAD</button></a>
          <a class="link"><button class="link" (click)=" linkTelaCadastro()">Cadastro</button></a>
          <BR><BR><BR><BR> <BR><BR><BR><BR> <BR><BR><BR><BR><BR><BR><BR><BR><BR>
          <a class="link"><button class="link" (click)="linkSair()">Sair</button></a>
       </div>

      


  
    </body>
</html>
