


  h3{
    font-size: 35px;
}
  .titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
  }
  .card-action{
    height: 150px;
  }
  .caixaDeDialogo{
  height: 50px;
  
  }
  button{
margin-left: 500px;
  }