
<!DOCTYPE html>
<html>
<head>
<title>RAD</title>
<meta charset="utf-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>
   


    <div class="card">
      <div class="card-action center-align">
        <h4>Quadro de informações</h4>
      </div>
      <br><br>
      <div class="car-content">
      
      <p class="titulo">Professor:puxar do banco </p>
      <p class="titulo">Campus: Garanhuns </p>
      <p class="titulo">Coordenação: Puxar do banco </p>
      <p class="titulo">Grupo:puxar do banco</p>
      <p class="titulo">Regime de trabalho:puxar do bacno </p>
      <p class="titulo">Semestre:puxar do bacno </p>
        </div>
    </div>

<!----------------------------------------Atividade de ensino-------------------------------------------->
    <div class="card">
      <div class="card-action">
        <h6>ATIVIDADES DE ENSINO: </h6><p>Listar disciplinas ministradas,orientações a alunos concluídas no decorrer do
           semestre ou em andamento,horários disponibilizados para o atendimento a alunos  e demais atividades de ensino
            descritas no PIT</p>
      </div>
      <br><br>
      <div class="car-content">
      
      
      <div *ngIf="arrayApoioAoEnsino?.length > 0;else noAtividades">
        <ul *ngFor="let apoioAoEnsino of arrayApoioAoEnsino" class="collection">
          <ul class="collection-atividade">
            <li><a class="titulo">Nome:</a> {{apoioAoEnsino.atividade}}     
              <button class="secondary-content">
              <i (click)="editApoioAoEnsino($event,apoioAoEnsino)" class="material-icons">editar</i>
            </button>
            <button class="secondary-content">
              <i *ngIf="editState && apoioAoEnsinoToEdit.id == apoioAoEnsino.id" (click)="clearStateApoioAoEnsino()" class="material-icons">clear</i>
            </button></li>
    
            <li><a class="titulo">Carga Horária:</a> {{apoioAoEnsino.chSemanl}}</li>
            <li><a class="titulo">definir:</a> {{apoioAoEnsino.lhp}}</li>
           
           
          </ul>
       
        </ul>
      </div>
   <ng-template #noAtividades>
    <hr>
    <h5>Não há atividades cadastradas</h5>
  </ng-template>
     
        </div>
    </div>



    














    <div class="card">
      <div class="card-action">
        <h6>ATIVIDADES DE PESQUISA: </h6><p>Relatar o andamento dos projetos e demais atividades de pesquisa aplicada 
          listadas no PIT.No caso de projetos, indicar o cronograma de execução (prazos atuais) e as atividades 
          desenvolvidas no decorrer do semestre</p>
      </div>
      <br><br>
      <div class="car-content">
      
     
        </div>
    </div>

    <div class="card">
      <div class="card-action">
        <h6>ATIVIDADES DE EXTENSÃO: </h6><p>Relatar o andamento dos projetos e demais atividades de extensão listadas no 
          PIT.No caso de projetos ou programas, indicar o cronograma de execução (prazos atuais) e as atividades 
          desenvolvidas no decorrer do semestre.</p>
      </div>
      <br><br>
      <div class="car-content">
      
     
        </div>
    </div>

    <div class="card">
      <div class="card-action">
        <h6>ATIVIDADES ADMINISTRATIVO-PEDAGÓGICAS: </h6> <p>Descrever as principais atividades desenvolvidas na gestão 
          institucional do IFPE de acordo com a função; ou atividades em comissões/fiscalizações realizadas no
         decorrer do semestre de acordo com o PIT</p>
      </div>
      <br><br>
      <div class="car-content">
      
     
        </div>
    </div>

    <div class="card">
      <div class="card-action center-align ">
        <h3>Complemento/Observações</h3>
      </div>
      <br><br>
      <div class="car-content">
        <input type="text" name="Nome"/> 
      

        </div>
        </div>
       <br><br>
          <button type="submit" value="Enviar para Validação" class="btn green " >Enviar para Validação</button>
          <br><br>


    

</body>
</html>
