
 .button {
  font-family: 'trebuchet ms';
  color:black;
  font-size: 14px;

  
  padding: 10px 50px;
  border-radius: 2px;
  border: 0px solid #5BA367;
  background-color: green;
  }
  .button:hover {
  color: black;
  background: #4ca75b;
  
  }